.event-tabs {
    margin-bottom: 10px;
}
.event-tabs li {
    width: 125px;
    text-align: center;
}
/* Custom Style */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
    height: 30px;
    border: 2px solid #27A1CA;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Photos";
    padding-left: 10px;
    color: #27A1CA;
    line-height: 27px;
}
.onoffswitch-inner:after {
    content: "Articles";
    padding-right: 5px;
    color: #27A1CA;
    text-align: right;
    line-height: 27px;
}
.onoffswitch-switch {
    display: block; height: 22px; margin: 6px;
    border-radius: 20px;
    position: absolute; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    border: 2px solid #27A1CA;
    background: #27A1CA;
    width: 22px;
    bottom: -2px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}